export AZ_SUBSCRIPTION_ID=""
export AZ_SP_CLIENT_ID=""
export AZ_SP_CLIENT_SECRET=""
export AZ_SP_CLIENT_TENANT_ID=""
export TF_VAR_subscription_id=""
export TF_VAR_sp_client_id=""
export TF_VAR_sp_client_secret=""
export TF_VAR_sp_client_tenant_id=""
